@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sora', sans-serif;
  background: #1E1E1E;
  color: #E8E8E8;
}

a {
  text-decoration: none;
}

